@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';
@import 'pages/navbar';

// TourClick brand styles
@import 'brand.scss';

// Fix styles
.dropdown-menu.show {
    font-size: .875rem;
}

.dropdown-menu.show {
    right: 0;
    left: auto;
}

// V-cloak for FUOC
[v-cloak]>* {
    display: none;
}

[v-cloak]::before {
    content: "TourClick";
    font-size: 54px;
    width: 300px;
    height: 150px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
}

// Hacks
.tc-link-no-underline-on-hover:hover {
    text-decoration: none;
}
