@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

// Fix styles
.dropdown-menu.show {
    font-size: .875rem;
}

.dropdown-menu.show {
    right: 0;
    left: auto;
}
