// Plugins

// FontAwesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

body {
    font-family: 'Roboto' !important;

}

// Header Styles
.logged-in-as {
    margin: 0;
    border-radius: 0;
}

// TourClick (tc) redefined styles
.tc-blue-bg {
    background-color: #66A5AE;
}
